
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #fff;
    font-family: $font-lato;
    font-weight: 900;
    font-size: 36px;
    line-height: 2.5em;
    margin: 0 0 0 65px;
}

.header__menu--mobile {
    width: 100%;
    background-color: $grey-color;
    visibility:hidden;
    list-style: none;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    transform: translateY(-400px);
    transition: 0.5s ease-in-out;
    z-index: 15;


    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-lato;
        font-weight: 900;
        font-size: 1.3em;
        transition: max-height 100ms ease-in-out;
    }

    li {
        padding-bottom: 0.5em;
        &:first-child {
            margin-top: 10px;
        }
    }
}

.header__menu {
    display: flex;
    font-family: $font-lato;
    font-weight: 700;
    font-size: 14px;

    
    li {
        padding: 0 25px 0 0;
        list-style: none;

        &:last-of-type {
            margin-right: 30px;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
}


.hamburger {
    margin: 15px 0 0 0;
    padding: 0;
    border: 0;
    display: none;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    &:focus {
      & > .hamburger__container {
        box-shadow: 0 0 2px 2px #51a7e8;
      }
    }
  }
  
  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }
  
  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: transform 220ms ease-in-out;

    
    &:before, &:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #fff;
      content: '';
    }
    &:before {
      top: -12px;
      transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
    }
    &:after {
      bottom: -12px;
      transition: bottom 100ms 250ms ease-in, 
        transform 220ms ease-in-out;
    }
  }
  
  .hamburger--active {
    .hamburger__bars {
      transform: rotate(225deg);
      transition: transform 220ms 120ms ease-in-out;
      &:before {
        top: 0;
        transition: top 100ms ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 100ms ease-out, 
          transform 220ms 120ms ease-in-out;
      }
    }
  }
  
  .hamburger, .hamburger__container {
    &:focus {
      outline: none;
    }
  }
