@import 'variables.scss';
@import 'normalize.scss';
@import 'header.scss';
@import 'banner.scss';
@import 'about-us.scss';
@import 'agency-work.scss';
@import 'agency-workflow.scss';
@import 'agency-team.scss';
@import 'agency-clients.scss';


.container {
    margin: 0 auto;
    max-width: 1200px;
}

.button {
    width: 195px;
    height: 55px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $font-lato;
    font-weight: 700;
    cursor: pointer;
  }

.main__background {
    background-image: url(../images/Banner_main.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: $main-color;
}

.section__title {
    font-family: $font-lato;
    font-size: 60px;
    font-weight: 900;
    color: $grey-color;
}

.contact__background {
    background-color: #050505;
    height: 400px;
  }

.contact__title {
    color: $grey-color-second;
    

}

.section__title {
    text-align: center;
}

.contact__content {
    display: flex;
    justify-content: space-around;
    
}

.contact__details {
    color: #fff;


}

.contact__icon {}

.contact__social-media {}

.contact__line {
    border: 0.8px solid #fff;
}

.contant__copyright {
    color: #fff;
}